<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC App</title>
</head>
<body>
    <h1>Just an Web RTC App</h1>
    <p>Desafio 3 da Maratona FullCycle Dev 2.0</p>
    <p>Solução composta de duas páginas pra teste de webRTC. 
        <a href="sender">sender</a> e
        <a href="receiver">receiver</a>, conform exemplo em <a href="https://github.com/jmcker/Peer-to-Peer-Cue-System" target="_blank"></a>
    </p>
</body>
</html>